VITE_TMDB_API_KEY=a11dd76b5c1f4396c2638920fef70691
VITE_SUPABASE_URL=https://nuxazddeubjaxpztejdg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51eGF6ZGRldWJqYXhwenRlamRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5NjAxNTYsImV4cCI6MjA4NzUzNjE1Nn0.n2daWDM7GUpxGOYbsnm3Kx4qJ2JYTxLO9146QZrKsr4
